@import url('https://fonts.googleapis.com/css?family=Courgette:regular,bold,italic&subset=latin,latin-ext');


.topTitle{
  font-family: 'Courgette', sans-serif;
  font-weight: 100;
  color: white;
  margin: 3px;
}

.myLittlePixel{
  width: 10px;
  height: 10px;
  background-color: white;
  border: 1px solid lightgrey;
  display: inline-block;
  margin: 0;
}

.myCanvas{
  width: 800px;
  height: 350px;
  background: black;
  padding: 20px;
  font-size: 0px;
  display: inline-block;
  box-shadow: 7px 7px 7px rgb(20, 20, 20);
  }

.myPallet{
  width: 650px;
  height: 150px;
  background: darkgrey;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding: 10px;
  box-shadow: 7px 7px 7px rgb(20, 20, 20);
}

.myPalletColor{
  border-radius: 100%;
  width: 50px;
  height: 50px;
  background-color: cornflowerblue;
  display: inline-block;
  margin: 10px 15px 10px 15px;
  box-shadow: 2px 2px 2px rgb(45, 45, 45);
  
}

.myCurrentColor{
  border-radius: 100%;
  width: 150px;
  height: 150px;
  background-color: green;
  box-shadow: 2px 2px 2px rgb(45, 45, 45);

}

.currentBox{
  background-color: grey;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  box-shadow: 7px 7px 7px rgb(20, 20, 20);
  
}

.myPageLayout{
  background-image: url('http://wallpaperbackgrounds.com/Content/wallpapers/pattern/artistic/207355-39755.jpg');
  background-size: cover;
  min-height: 100vh;
  height:800px;
  padding: 5px;
  text-align: center;
}
